[submodule "SparkiyClient/SharpDX.Toolkit.Game.Direct2D"]
	path = SparkiyClient/SharpDX.Toolkit.Game.Direct2D
	url = https://github.com/Sparkiy/SharpDX.Toolkit.Game.Direct2D.git
[submodule "SparkiyClient/MonoGame"]
	path = SparkiyClient/MonoGame
	url = https://github.com/Sparkiy/MonoGame.git
[submodule "SparkiyClient/sparkiy-canvas"]
	path = SparkiyClient/sparkiy-canvas
	url = https://github.com/Sparkiy/sparkiy-canvas.git
